<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="utils.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="searchbar.css" />
    <link rel="stylesheet" href="services.css" />
    <link rel="stylesheet" href="results.css" />
    <link rel="stylesheet" href="candidates.css" />
    <link rel="stylesheet" href="Dasher.styles.css" />
    <link rel="stylesheet" href="details.css" />
    <link rel="stylesheet" href="messages.css"/>
    <link rel="stylesheet" href="login.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="agreements.css" rel="stylesheet" />
    <link href="https://api.fontshare.com/v2/css?f[]=poppins@300,400,700&display=swap" rel="stylesheet">
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="toggle.js"></script>
    <script src="agreements.js"></script>
    <script src="messages.js"></script>
    <script src="chat.js"></script>
    <script src="localStorageHelper.js"></script>
    <script src="https://kit.fontawesome.com/e349bf4cb6.js" crossorigin="anonymous"></script>
</body>

</html>
