@page "/login"
@using System.Security.Cryptography
@using System.Security.Claims
@using DasherAPI.Interfaces
@using DasherAPI.Services
@using Microsoft.AspNetCore.Authentication
@inject IJSRuntime JS
@inject NavigationManager navman
@inject UserService _userservice
@inject UserController usercontroller
@inject IPasswordHasher passwordhasher
@inject AuthController authcontroller
<PageTitle>Login</PageTitle>
<div class="login">
    <div class="login-border">
        <p class="login__title">Login</p>
        <p class="login__subtitle">Email</p>
        <div class="login__input-wrapper">
            <input class="login__input" type="text" placeholder="email" @bind-value="Email"/>
        </div>
        <p class="login__subtitle">Password</p>
        <div class="login__input-wrapper">
            <input class="login__input" type="password" placeholder="password" @bind-value="Password"/>
        </div>
        <button type="submit" style="margin-top:1rem" class="order-panel-btn-request" @onclick="(()=>{LoginUser();})">Login</button>
    </div>
</div>
@code {
    private string Email { get; set; }
    private string Password { get; set; }
    public void LoginUser()
    {
        var token = _userservice.Login(Email, Password);
        JS.InvokeVoidAsync("localStorage.setItem", "authToken", token);
        navman.NavigateTo("/");
    }
}
