@page "/saved"
@using System.Globalization
<PageTitle>Favorites</PageTitle>
<Sidebar></Sidebar>
<div class="main-area">
    <div class="container">
        <h1 class="agreements__title">Favorites</h1>
        <div class="date">
            <p class="date__date">
                <svg class="date__calendar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
                    <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
                </svg><div class="date__text">&nbsp;&nbsp;@DateTime.Now.ToString("MMM d, yyyy", new CultureInfo("en-US"))</div>
            </p>
            <div class="agreements__line"></div>
            <div class="workers">
                <svg class="workers__img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <div class="workers__text">4 workers</div>
            </div>
        </div>
        <div class="agreements__cards">
            @for (int i = 0; i < 4; i++)
            {
                <div class="agreements__card">
                    <div class="agreements__card-top">
                        <img src="!image1.png" />
                        <div>
                            <p class="agreements__card-top-title">Kate Jonson</p>
                            <p class="agreements__card-top-subtitle">Waitress</p>
                            <p class="agreements__card-top-review"><i class="fa-solid fa-star"></i> 4.8 (378)</p>
                        </div>
                    </div>
                    <div class="agreements__card-btns">
                        <button class="agreements__card-btns-open">Remove</button>
                        <button class="agreements__card-btns-cancel">Details</button>
                    </div>
                    <div class="agreements__card-bottom">
                        <p class="agreements__card-bottom-text">Time for accept:</p>
                        <p class="agreements__card-bottom-time">5:04</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@code {

}
